body{ background-image: url(https://cdn.pixabay.com/photo/2015/06/19/21/24/avenue-815297_1280.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100vw 100vh ;
h2{text-align: center;
color: white;}