/* div{
    height: 400px;
    width: 300px;
    background-color: aquamarine;
    background-image: url(https://plus.unsplash.com/premium_photo-1673292293042-cafd9c8a3ab3?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bmF0dXJlfGVufDB8fDB8fHwwz);
    background-size: 290px 400px;
    background-repeat: no-repeat;

} */
 div{
    
    height: 600px;
    width: 100vw;
    background-color: yellow;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCZSQ7rR5JCGfQlt2csTmUpP-c0bbFmpdg-g&s"),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCZSQ7rR5JCGfQlt2csTmUpP-c0bbFmpdg-g&s"),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCZSQ7rR5JCGfQlt2csTmUpP-c0bbFmpdg-g&s"),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCZSQ7rR5JCGfQlt2csTmUpP-c0bbFmpdg-g&s"),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCZSQ7rR5JCGfQlt2csTmUpP-c0bbFmpdg-g&s"),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCZSQ7rR5JCGfQlt2csTmUpP-c0bbFmpdg-g&s"),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCZSQ7rR5JCGfQlt2csTmUpP-c0bbFmpdg-g&s"),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCZSQ7rR5JCGfQlt2csTmUpP-c0bbFmpdg-g&s"),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCZSQ7rR5JCGfQlt2csTmUpP-c0bbFmpdg-g&s");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: center, center right,300px 200px, top center,top right,top left,bottom center,bottom right,bottom left,;
 }